<section class="property-binding">

  <article>
    <h3>Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 * 1 é: {{ 1 * 1 }}</p>
    <p>Uma chamada de função com valor 45 retornado: {{ getValor() }}</p>
    <p>Expressões boobeanas também: {{ getCurtirCurso() && cursoAngular }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem }}">
    <!--<img [src]="urlImagem">-->
  </article>

  <article>
   <h3>Class e Style binding</h3>
   <div>
       Selecione uma classe:
       <select #classe (change)="0">
           <option value="alert-success">Sucesso</option>
           <option value="alert-info">Info</option>
           <option value="alert-warning">Warning</option>
           <option value="alert-danger">Erro</option>
       </select>
       <br><br>

       <div class="alert {{ classe.value }}" role="alert" >
         Texto colorido conforme valor do combobox.
       </div>

        <div class="alert" role="alert"
          [class.alert-success]="classe.value == 'alert-success'" >
          Sucesso
        </div>

        <div class="alert" role="alert"
          [class.alert-info]="classe.value == 'alert-info'" >
          Info
        </div>

        <div class="alert" role="alert"
          [class.alert-warning]="classe.value == 'alert-warning'" >
          Warning
        </div>

        <div class="alert" role="alert"
          [class.alert-danger]="classe.value == 'alert-danger'" >
          Erro
        </div>

        <div class="alert alert-danger" role="alert"
          [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'"
        >
          Esse texto somente aparece em caso de erro.
        </div>
   </div>
</article>

</section>

<section class="event-binding">
  <article>
    <h3>Event Binding</h3>
    <div>
      <button (click)="onClick()">Me clique!</button>

      <br><br>

      <input type="text"
      (keyup)="onKeyUp($event)"
      (keyup.enter)="onSave(campo.value)"
      (blur)="onSave(campo.value)"
      #campo
      >

      <br><br>

      <div>Conteúdo Atual: {{ conteudoAtual }}</div>
      <div>Conteúdo Atual: {{ conteudoSalvo }}</div>

      <br><br>

      <span
      (mouseover)="onMouseSpan()"
      (mouseout)="onMouseSpan()"
      [class.highlight]="isMouseOver"
      >
        Passe o mouse sobre!
      </span>
    </div>
  </article>
</section>


<section class="two-way-binding">
  <article>
    <h3>Two-way data Binding</h3>
    <div>

      <!-- Forma 1 -->
      <input type="text"
      [value]="nome"
      (input)="nome = $event.target.value"
      >

      <!-- Forma 2 -->
      <input type="text"
      [ngModel]="nome"
      (ngModelChange)="nome = $event"
      >

      <!-- Forma 3 -->
      <input type="text"
      [(ngModel)]="nome"
      >

      <div>
        Meu nome é {{ pessoa.nome }} e minha idade é {{ pessoa.idade }} anos.
        <input type="text"
        [(ngModel)]="pessoa.nome"
        >
        
        <input type="text"
        [(ngModel)]="pessoa.idade"
        >
      </div>

      <p>Você digitou {{ nome }}</p>
    </div>
  </article>
</section>



<section class="input-properties">
  <article>
    <h3>Input Properties</h3>
    <div>
      <curso nome="Angular 2"></curso>
    </div>
  </article>
</section>

<section class="output-properties">
  <article>
    <h3>Output Properties</h3>
    <div>
      <contador></contador>
    </div>
  </article>
</section>